body,
html {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, 'sans-serif';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1em;
  color: color(srgb 0.588 0.588 0.588);
  text-align: left;
}

a.detail {
  text-align: center;
  align-content: center;
  padding: 2rem 1rem;
}

div.table-container {
  text-align: center;
  margin: auto;
  width: 100%;
}

table {
  margin: auto;
}

td {
  font-size: 8pt;
}

ul {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1em;
}

.p {
  font-family: ui-rounded;
  color: blue;
}

.a {
  background-color: yellow;
}

.fit-window-container {
  display: block;
  width: 80vw;
  height: 80vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fit-window-image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}

.thin-border {
  border: 0.5px solid #999;
  padding: 4rem 2.5rem;
}
