body, html {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, "sans-serif";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale
}

div.table-container {
  text-align: center;
  margin: auto;
  width: 100%;
}

td {
  font-size: 8pt;
}
ul {
  margin-top: .1em;
  margin-bottom:.1em;
  font-size: 1em;  
}

.p {
  font-family: ui-rounded;
  color: blue;
}

.a {
  background-color: yellow;
}

.joo {
  color: red;
}
